<div class="row">
	<div class="slogan"><h1 class="">Your site will show you the money</h1></div>
	<div class="center col-md-5 col-lg-5 ">
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<div class="panel-body">
				<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html=> { class: 'form' })  do |f| %>
				  <%= f.error_notification %>

				  <div class="form-inputs">
				  	<div class="form-group">
				  		<%= f.input :email, :required => true, :autofocus => true, input_html: { class: 'form-control' } %>
				  	</div>
				    <div class="form-group">
				    	<%= f.input :password, :required => true, input_html: { class: 'form-control' } %>
				    </div>
				    <div class="form-group">
				    	<%= f.input :password_confirmation, :required => true, input_html: { class: 'form-control' } %>
				    </div>
				  </div>

				  <div class="form-actions form-group">
				    <%= f.button :submit, :class => 'btn btn-primary btn-lg pull-left' %>
				    <div class="action-links"><%= render "devise/shared/links" %></div>
				  </div>
				<% end %>

				
			</div>
		</div>
	</div>
</div>
<div class="row ">
	<hr>
	<ul class="list-inline">
		<li class="col-md-4"><h2>Rich media for max eCPMs </h2><p><i class="fa fa-signal"></i></p></li>
		<li class="col-md-4"><h2>Automatic payments </h2><p><i class="fa fa-credit-card"></i></p></li>
		<li class="col-md-4"><h2>100% global ad coverage</h2><p><i class="fa fa-bullseye"></i></p></li>
	</ul>
</div>
