<div class="row">
	<div class="col-md-7 col-lg-7"></div>
	<div class="col-md-5 col-lg-5 ">
		<div class="panel panel-default">
			<div class="panel-heading"><h2>Forgot your password?</h2></div>
				<div class="panel-body">
					<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: 'form' }) do |f| %>
					  <%= f.error_notification %>

					  <div class="form-inputs">
					    <%= f.input :email, :required => true, :autofocus => true,  input_html: { class: 'form-control' }%>
					  </div>

					  <div class="form-actions">
					    <%= f.button :submit, "Send me reset password instructions", input_html: { class: 'btn btn-default' } %>
					  </div>
					<% end %>

					<%= render "devise/shared/links" %>
				</div>
			</div>
	</div>
</div>

