<div class="row">
	<div class="slogan"><h1 class="">Nice to see you again <i class="fa fa-smile-o"></i> </h1></div>
	<div class="center col-md-5 col-lg-5 ">
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<div class="panel-body">
				<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
				  <div class="form-inputs">
				  	<div class="form-group">
				    	<%= f.input :email, :required => false, :autofocus => true, input_html: { class: 'form-control' } %>
				    </div>
				    <div class="form-group">
				    	<%= f.input :password, :required => false, input_html: { class: 'form-control' } %>
				    </div>
				    <div class="form-group">
				    	<%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
				    </div>
				  </div>
				  <div class="form-actions form-group">
				    	<%= f.button :submit, "Go in",:class => 'btn btn-primary btn-lg pull-left' %>
				  		<div class="action-links"><%= render "devise/shared/links" %></div>
				  </div>
				<% end %>

			</div>
		</div>
	</div>
</div>

