<form class="form-sign">
  <div class="text-center">
      <h2>Log-In</h2>
  </div>
  <div>
    <span class="failure">{{error}}</span>
  </div>
  <div>
    <input type="text" ng-model="email" autofocus id="email" name="email" placeholder="Email"/>
  </div>
  <div>
    <input type="password" ng-model="password" id="password" name="password" placeholder="Password"/>
  </div>
  <div class="button-wrapper">
    <button type="submit" class="btn btn-primary" ng-click="signIn($event)">Login</button>
    <a class="btn btn-danger pull-right" href="#/users/sign_up" style="padding: 8px;">Create your account</a></div>
    <div>
      <a style="margin-top: 10px" href="#/users/recover_password">Forgot your password?</a><br/>
      <a style="margin-top: 10px" href="#/users/resend_activation">Resend activation instructions</a>
    </div>
  </div>
</form>