@import 'qadabraStyleSettings';

.dashboard{
	margin-top: 40px;
	.placement-area{
		padding-right: 0;
		.panel-body{
			min-height: 266px;
			button{
				margin-bottom: 20px;
			}
			.ng-table-counts{
				margin-right: 10px;
				button.btn{padding: 4px;}
			}
		}
	}
	.panel.action{
		padding-left: 0;
		top: 86px;
		.panel-body{
			border-left: none;
			padding: 10px;	
			li{
				border-bottom: 1px solid #BCBCBC;
				padding-bottom: 3px;
				padding-top: 3px;
				position: relative;
				&:last-child{border-bottom: none}
				a{
					padding: 0;
					&:hover{background: none;}
				}
				i{
					padding: 0;
					position: absolute;
					right: 0;
					top: 6px;
				}
				i.fa-question-circle{
					right: 12px;
				}
			}
		}
		.panel-heading{
			background: #4d4d4d;
			color: #fff;
			padding: 3px;
			font-family: 'MyriadPro-Cond';
			border-radius: 0;
			font-size: 19px;
			padding-left: 10px;
		}
	}
	.panel{
		border: none;
		.panel-heading{
			padding: 0;
			.btn-group{padding: 0;}
			.btn{
				font-family: 'MyriadPro-Cond';
				background: #fff;
				border: #4d4d4d solid 3px;
				border-radius: 0;
				border-bottom: none;
				padding: 10px;
				font-size: 16px;
				border-right: none;
				&:last-child{border-right: #4d4d4d solid 3px;}
			}
			input{
				border: #4d4d4d solid 3px;
				border-right: none;
				border-radius: 0;
				border-bottom: none;
				height: 45px;
			}
			span.input-group-addon{
				background: #fff;
				border: 3px solid #4d4d4d;
				border-bottom: none;
				border-left: none;
				height: 43px;
				border-radius: 0;
			}
		}
		.panel-body{
			padding: 0;
			border: $border;
			margin-top: -1px;
			.export{padding: 10px;}
			table{
				thead{
					tr{
						th{
							background: #626262;
							color: #fff;
							border-right: #808080 solid 1px;
							&:last-child{border-right:none}
							font-weight: 600;
							text-align: center;
							font-size: 13px;
						}
					}
				}
				tbody{
					.settings{
						text-align: center;
						a{cursor: pointer;}
					}
					tr:hover{
						i.fa-arrows{display: block;}
						.index-number{display: none;}
					}
					td{text-align: center;}
					.index-th{
						i{display: none;position: absolute;cursor: move;}
					}
					.edit-placements{
						text-align: left;
						padding: 20px;
						.placement-status{
							display: block;
							width: 100%;
							height: 34px;
							padding: 6px 12px;
							font-size: 14px;
							line-height: 1.428571429;
							color: #555555;
							vertical-align: middle;
							background-color: white;
							background-image: none;
							border: 1px solid #cccccc;
							border-radius: 4px;
							-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
							box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
							-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
							transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
						}
						pre{
							display: inline-table;
							code{display: inline-table;margin: 10px;}
							button{margin: 10px;}
						}
					}
				}
			}

		}
	}
	.action{
		.panel-heading{
			padding-left: 10px;
		}
		.panel-body{
			.fa-chevron-right{color: $the-green;}
		}
		font-size: 13px;
	}
}