@import 'qadabraStyleSettings';

@font-face {
font-family: 'MyriadPro-Cond' ;
     src: url(./MyriadPro-Cond.otf);
     src: url(./MyriadPro-Cond.eot);
     src: url(./MyriadPro-Cond.eot?#iefix) format('embedded-opentype'),
         url(./MyriadPro-Cond.woff) format('woff'),
         url(./MyriadPro-Cond.ttf) format('truetype'),
         url(./MyriadPro-Cond.svg#myriad_procondensed) format('svg');
     font-weight: normal;
     font-style: normal;
}

/* Additional styles to display a spinner image while options are loading */
.localytics-chosen.loading+.chosen-container-multi .chosen-choices {
  background-image: url('spinner.gif');
  background-repeat: no-repeat;
  background-position: 95%;
}
.localytics-chosen.loading+.chosen-container-single .chosen-single span {
  background: url('spinner.gif') no-repeat right;
}
.localytics-chosen.loading+.chosen-container-single .chosen-single .search-choice-close {
  display: none;
}

h1,h2,h3,h4,h5,h6{font-family: 'MyriadPro-Cond';}

.ng-valid     {  }
.ng-invalid   {  }
.ng-pristine  {  }
.ng-dirty     {  }

/* really specific css rules applied by angular */
.ng-invalid-required    {  }
.ng-invalid-minlength     {  }
.ng-valid-max-length    {  }

.center{
  float:none;
  margin:0 auto
}

.main{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto 60px;
    .top-border{
        border-bottom: 3px solid #4d4d4d;
        .menu-wrapper{
            padding-right: 0;
            ul{
                li{
                    border: 3px solid #4d4d4d;
                    border-bottom: none;
                    border-right: none;
                    &:last-child{border-right: 3px solid #4d4d4d;}
                }
            }
        }
        
    }
    .chart-wrapper{
        border-bottom: 3px solid #4d4d4d;
        margin-bottom: 20px;
        .chart{
            border-right: 3px solid #4d4d4d;
            border-left: 3px solid #4d4d4d;
            height: 100%;
        }
    }
}

footer{
	background-color: $block-bg;
	padding-top: 20px;
    height: 268px;
    
    width: 100%;
    bottom: 0;
    h4{color: #fff;}
    a{
        color: #fff;
        font-family: 'MyriadPro-Cond';
    }
}

.ui-sortable{
    cursor: move;
}

.inactive_placement{
    text-decoration: line-through;
    a{
        color: #a9a9a9;
        pointer-events: none;
        cursor: not-allowed;
    }
}
