.content-block{
    margin-top: 20px;

    .slogan{
        text-align: center;
        margin-bottom: 3em;
        h1{
            font-size: 3.2em;
        }
    }
    .panel{
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 0 2px 3px rgba(0,0,0,.3);
        -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3);
        box-shadow: 0 2px 3px rgba(0,0,0,.3);
        background: #fff;
        margin-bottom: 40px;
        form{
            .action-links{
                width: auto;
                display: inline;
                float: right;
            }
        }
    }
    ul{
        text-align: center;
        i{
            font-size: 6em;
            color: #878787;
        }
    }
}