<div class="row dashboard">
  
  <div class="panel col-md-10 placement-area">
    <div class="panel-heading">
      <div class="btn-group col-md-3">
        <button class="btn" type="button" type="button"><i class="fa fa-paperclip"></i> Ad tags</button>
        <button class="btn" type="button" type="button"><i class="fa fa-th"></i> Grup by</button>
      </div>
      <div class="btn-group col-md-3 col-md-offset-2">
        <button class="btn" type="button" type="button"><i class="fa fa-fire-extinguisher"></i> Life time</button>
        <daterangepicker from="from_date" to="to_date"></daterangepicker>
      </div>
      <div class="input-group col-md-4">
        <input placeholder="Search" class="form-control search-query" ng-model="search"></input>
        <span class="input-group-addon"> > </span>
      </div>
    </div>
    <div class="panel-body">
      <span type="text" ng-model="daterange"/>
      <div class="pull-right export"><a href="">Export <i class="fa.fa-angle-right"></i></a></div>
      <table class="table" ng-table="placementsTable">
        <tbody ng-repeat="placement in $data | filter:search ">
          <tr id="tr{{placement.id}}" ng-class-odd="'odd'" ng-class-even="'even'" ng-class="{inactive_placement: !placement.active}">
            <td class="index-th" ><div class="index-number">{{$index + 1}}</div><i class="fa fa-arrows"></i></td>
            <td data-title="'Name'" class="name" sortable="name">
              {{placement.name}}
            </td>
            <td data-title="'Size'" class="size" sortable="size">{{placement.size}}</td>
            <td data-title="'imps'" class="imps"></td>
            <td data-title="'Click'" class="click"></td>
            <td data-title="'Ctr'" class="ctr"></td>
            <td data-title="'Action'" class="action"></td>
            <td data-title="'Ecpm'" class="ecpm"></td>
            <td data-title="'Earnings'" class="earnings"></td>
            <td data-title="'Settings'" class="settings">
              <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': editId==placement.id, 'glyphicon-chevron-right': !(editId==placement.id)}"></i>
              <a id="editRowBtn{{placement.id}}" value="edit"
              ng-click="setEditId(placement.id)"><i class="fa fa-pencil-square-o"></i></a>
            </td>
          </tr>
          <tr ng-show="editId===placement.id" ng-if="editId===placement.id">
            <td class="edit-placements" colspan="12" ng-include src="'/html/placements/edit_placement.html'"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel col-md-2 action">
    <div class="panel-heading">Action</div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="#/placements/new">Create ad tag</a>
          <i class="pull-right fa fa-chevron-right"></i>
          <i class="pull-right fa fa-question-circle" ></i>
        </li>
        <li>
          <a href="">Create stay on</a>
          <i class="pull-right fa fa-chevron-right"></i>
          <i class="pull-right fa fa-question-circle"></i>
        </li>
        <li>
          <a href="">Create slider</a>
          <i class="pull-right fa fa-chevron-right"></i>
          <i class="pull-right fa fa-question-circle"></i>
        </li>
        <li>
          <a href="">Create pop-up</a>
          <i class="pull-right fa fa-chevron-right"></i>
          <i class="pull-right fa fa-question-circle"></i>
        </li>

      </ul>
    </div>
  </div>
</div>
