<div class="container">
    <div class="row">    
    	<div class="col-lg-12 col-xs-12">
        		<div class="star">
        		<img src="http://www.qadabra.com/wp-content/themes/theme1/images/star.png">
            </div>  
        </div>
    </div>
	<div class="row">
    	<div class="footer-con">
        	<div class="col-lg-2 col-sm-2 col-xs-6">
                <a href="http://qadabra.com/about/" class="f-about"><h4>About</h4></a>
            	<ul class="list-unstyled">
                	<li><a href="?p=283">Mission</a></li>
                    <li><a href="?p=292">Philosphy</a></li>
                    <li><a href="http://qadabra.com/get-in-touch/">Contact Us</a></li>
                    <li><a href="http://qadabra.com/service-agreement/">Service agreement</a></li>
                    <li><a href="http://app.qadabra.com/user/register">Register</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-2 col-xs-6">
            	<h4>Explore</h4>
            	<ul class="list-unstyled" >
                    <li><a href="/self-serve-ad-platform">Self-serve ad platform</a></li>
                    <li><a href="/make-money-blogging">Make money Blogging</a></li>
                    <li><a href="/make-money-website">Earn from your website</a></li>
                    <li><a href="/adsense-alternative">AdSense Alternative</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-2 col-xs-6">
                <h4>Get Help</h4>
                <ul class="list-unstyled">
                    <li><a href="?p=94">FAQ</a></li>
                    <li><a href="?p=55">Glossary</a></li>
                </ul>         
            </div>
            <div class="col-lg-2 col-sm-2 col-xs-6">
                <h4>Get Paid</h4>
            	<ul class="list-unstyled">
                    
                </ul>
            </div>
            <div class="col-lg-2 col-sm-2 col-xs-6">
                <h4>Get Updated</h4>
                <ul class="list-inline">
                    <li>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </li>  
                    <li>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                    </li>
                    <li>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </li>
                </ul>
       		</div>
        </div>
    </div>
</div>