.header
	ul.nav.nav-pills.pull-right
		- if user_signed_in?
			li.navbar-right
				a.dropdown-toggle
					i.fa.fa-user 
					= current_user.email
				ul.dropdown-menu
				  li
				    = link_to "Account", edit_user_registration_path
				  li role="presentation" class="divider"
				  li
				    = link_to "Log out", destroy_user_session_path, method: :delete
		- else
			li(class=active_if_current(new_user_registration_path))
				= link_to "Sign up", new_user_registration_path
			li(class=active_if_current(new_user_session_path))
				= link_to "Sign in", new_user_session_path
	h3.text-muted
		= link_to image_tag("logo.png", :class => 'logo'),root_path