doctype html
html(ng-app="qadabraApp")
  head
    = tag 'meta', 'charset' => 'utf-8'
    title Qadabra
    = stylesheet_link_tag    "application", media: "all"
    = csrf_meta_tags
    

  body
    .main
      .container
        = render "layouts/navigation"
      - if user_signed_in?
        = render "layouts/menu"
        div (ui-view="chart")
        .container
          = render "layouts/flash"
          div (ui-view)
      - else
        .content-block
          .container
            = yield
    footer
      = render "layouts/footer"
      
    = javascript_include_tag "application"