<div>

  <button type="button" class="close" aria-hidden="true" ng-click="closeEditor()">&times;</button>
  <h3>Edit ad tag</h3>
    <form>
      <div class="row">
        <div class="col-md-7">
          <div class="form-group" ng-class="{ 'has-error' : placementForm.name.$invalid && !placementForm.name.$pristine }">
            <input class="form-control input-lg" type="text" value="{{placement.name}}" ng-maxlength="20" data-non-blank required>
            <p ng-show="placementForm.name.$invalid && !placementForm.name.$pristine" class="help-block">Name is required.</p>
          </div>
          <div class="form-group">
            <select class="form-control input-lg" name="size" required ng-model="placementSize" ng-options="size for size in placementsizes"></select>
            <p ng-show="placementForm.size.$invalid && !placementForm.size.$pristine" class="help-block">Name is required.</p>
          </div>
          <div class="form-group">
            <input id="placementUrl" class="form-control input-lg" value="{{placement.url}}" type="url">
          </div>
          <div class="form-group">
            <select multiple chosen>
              <option value=""> --- Select Category ---</option>
            </select>
          </div>
          <div class="form-group placement-status">
            Status: <span ng-if="placement.active">Active</span>
            <button class="btn btn-danger btn-xs pull-right" type="button" ng-disabled="!placement.active" ng-model="placement.active" ng-click="inActivePlacement(placement)">Deactivate</button>
          </div>
        </div>
        <div class="col-md-5">
          <textarea class="form-control" rows="12"></textarea>
        </div>
      </div>
    </form>
    <hr>
    <div>
      <h2>Ad tag <small>copy & paste into your website</small></h2>
      <pre>
        <code><span class="text-danger" >&lt;script </span>type='text/javascript' src='http://{{placement.url}}/t?id=86f5264d-
            9ad1-b514-19d2-f14b5dc077b1&size={{placement.size}}'<span class="text-danger" >&gt;&lt;/script&gt;</span></code>
        <button class="btn pull-right" ng-click="getTextToCopy()">Copy Ad-Tag</button>
      </pre>
    </div>
     <button class="btn btn-primary btn-lg pull-right" type="submit">Save</button>
</div>
<!--  class="editRowTd" -->