<div class="row dashboard">
  <div class="panel col-md-10 placement-area">
    <div class="panel-heading row">
    
    </div>
    <div class="panel-body placement-editor">
      <form name="placementForm" id="placement" ng-submit="createPlacement()" novalidate>
        <div class="col-md-8">
          <h2>Create a new Ad Tag</h2>
            <div class="form-group" ng-class="{ 'has-error' : placementForm.name.$invalid && !placementForm.name.$pristine }">
              <input id="placementName" name="name" class="form-control input-lg" type="text" autofocus="autofocus" placeholder="Placement name" ng-maxlength="20" ng-model="placementName" data-non-blank required>
              <p ng-show="placementForm.name.$invalid && !placementForm.name.$pristine" class="help-block">Name is required.</p>
            </div>
            <div class="form-group">
              <select class="form-control input-lg" name="size" required ng-model="placementSize" ng-options="size for size in placementsizes"><option value="">-- Select placement size --</option></select>
              <p ng-show="placementForm.size.$invalid && !placementForm.size.$pristine" class="help-block">Name is required.</p>
            </div>
            <div class="form-group">
              <input id="placementUrl" name="url" class="form-control input-lg" ng-model="placementUrl" placeholder="Website Url" required type="url">
            </div>
            <p><h2>Categorize your site</h2></p>
            <div class="form-group">
              <select multiple chosen  name="PlacementCategory" class="form-control input-lg" ng-model="placementCategory"  ng-options="category for category in categories">
              <option value=""> --- Select Category ---</option>
              </select>
            </div>
            <div class="form-group checkbox">
              <input name="check" type="checkbox" required>  I declare my site does not contain prohibited content
            </div>
            <div class="form-group">
              <button ng-disabled="placementForm.$invalid" class="btn btn-primary btn-lg pull-right" type="submit">create placement</button>
            </div>
          </div>
      </form>
      <div ng-show="true">
        <pre class="prettyprint">
          &lt;script type='text/javascript' src='https://app.slik.io/assets/api/charts.js'&gt;&lt;/script&gt;</pre>
      </div>
    </div>
  </div>
  <div class="panel col-md-2 action">
    <div class="panel-heading">Action</div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="#/placements/new">Create ad tag</a>
          <i class="pull-right fa fa-chevron-right"></i>
          <i class="pull-right fa fa-question-circle"></i>
        </li>
        <li>
          <a href="">Create stay on</a>
          <i class="pull-right fa fa-chevron-right"></i>
          <i class="pull-right fa fa-question-circle"></i>
        </li>
        <li>
          <a href="">Create slider</a>
          <i class="pull-right fa fa-chevron-right"></i>
          <i class="pull-right fa fa-question-circle"></i>
        </li>
        <li>
          <a href="">Create pop-up</a>
          <i class="pull-right fa fa-chevron-right"></i>
          <i class="pull-right fa fa-question-circle"></i>
        </li>

      </ul>
    </div>
  </div>
</div>
